@font-face {
    font-family: Salsa;
    src: url(../../Resources/Fonts/Salsa-Regular.ttf);
  }
  

body{
    margin: 0;
    font-family: Salsa;
}

.loc_option {
    display: none;
  }


  .loc_option {
    display: none;
  }

  .locbutton:hover .loc_option {
    display: block;
    position: absolute;
  }

.header{
    
    display: flex;
    justify-content: right;
    height: 5vh;
    z-index: 1;
}
.breakerline{
    z-index: 1;
    position: relative;
    
}
.login{
    padding-left: 5vw;
    padding-right: 1vw;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 4vh;

}


.logo{
    padding-right: 83vw;
    padding-left: 1vw;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 4vh;
}

.bckimg{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
   
}


.content{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingbox{
    display: flex;
    width: 45vw;
    height: 30vh;
    background-color: aliceblue;
    z-index: 2;
    position: relative;
    border-radius: 25px;
}

.locheader{
    margin: 0;
}


.locationselector{
    /* border-right: 1px solid black;
      margin-left: 0px;  */
      width: 11vw;
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.checkin{ 
    /* border-right: 1px solid black; 
    margin-left: 0px;  */
    width: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.checkinheader{
    margin: 0;
}


.checkout{ 
    width: 11vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black; /* Adjust color and thickness as needed */
    margin-left: 0px; /* Adjust margin as needed */
}

.submit_button{
    width: 11vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkoutheader{
    margin: 0;
}

.dropdown{
    display: block;
    background-color: transparent;

}
.locbutton:hover .dropdown{
    display: none;

}



.locbutton:hover .dropup{
    display: block;

}
.dropup{
    display: none;

}
.display{
    display: flex;
}

.Tuticorin{
    border: 1.2px solid rgb(23, 131, 254) ;
    border-radius: 3px;
}

.Coimbatore{
    border: 1.2px solid rgb(23, 131, 254) ;
    border-radius: 3px;
}
.Chennai{
    border: 1.2px solid rgb(23, 131, 254) ;
    border-radius: 3px;
}

.Tuticorin:hover{
    background-color: rgb(191, 243, 247);
}
.Coimbatore:hover{
    background-color: rgb(191, 243, 247);
}
.Chennai:hover{
    background-color: rgb(191, 243, 247);
}